#music-list-loader {
  width: 50px;
  align-self: center;
  display: none;
}

#music-list-warning {
  font-size: 24px;
  width: 800px;
  height: 70px;
  background-color: rgb(246, 116, 93);
  color: #fff;
  display: none;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 5px;
}

.list-header {
  display: none;
  margin-right: 20px;
  width: fit-content;
}

.list-header-item {
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  margin-right: 150px;
}

.music-list {
  display: none;
  flex-direction: column;
  margin: 10px 0;
}

.music-list-item {
  display: flex;
  align-items: center;
  background-color: #eef1f5;
  border-radius: 5px;
  width: 1210px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 5px;
}

.music-list-item-number {
  width: 40px;
  text-align: end;
  margin-right: 30px;
}

.music-list-item-author {
  width: 200px;
  margin-right: 150px;
}

.music-list-item-title {
  width: 200px;
  margin-right: 150px;
}

.music-list-item-genre {
  width: 200px;
  margin-right: 50px;
}

.music-list-item-play-button {
  width: 18px;
  height: 18px;
  border: #000 3px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
}

.music-list-item-play-button-play {
  font-size: 10px;
  translate: 20% 5%;
}

.music-list-item-check-button {
  width: 120px;
  height: 20px;
  background-color: #9fafc1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  width: 1210px;
  height: 30px;
}

.pagination-pages {
  display: flex;
  align-items: center;
}

.pagination-page {
  font-size: 20px;
  width: 70px;
}

.pagination-page-button,
.pagination-page-active,
.pagination-page-first,
.pagination-page-last,
.pagination-page-prev,
.pagination-page-next,
.pagination-page-dotes {
  width: 30px;
  font-size: 16px;
  opacity: 0.75;
  cursor: pointer;
  text-align: center;
}

.pagination-page-first,
.pagination-page-last,
.pagination-page-prev,
.pagination-page-next {
  width: 15px;
  font-size: 18px;
}

.pagination-page-active {
  display: inline-flex;
  flex-direction: column;
  opacity: 1;
  font-weight: bold;
  cursor: default;
}

.pagination-page-active::after {
  content: "";
  background-color: #000;
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  height: 2px;
  position: relative;
  left: 25%;
}

.pagination-page-dotes {
  cursor: default;
}

.pagination-page-sizes {
  display: flex;
  align-items: center;
}

.pagination-per-page {
  font-size: 20px;
  width: 100px;
}

.page-size-dropdown {
  width: 50px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}